<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<header>
    <h1>Titre de mon layout</h1>
</header>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa illum ut cupiditate officia, sit magni, dolorem in dolor doloribus error numquam maiores totam eos impedit excepturi possimus expedita assumenda ullam.</p>
{{content}}

<footer>
    Bas de page
</footer>

<body>
    
</body>
</html>